.DS_Store
Archiv.zip
.vscode/sftp.json
.antigravity
docs/projektdokumentation.log
docs/projektdokumentation.aux
docs/projektdokumentation.out
docs/projektdokumentation.toc
docs/projektdokumentation.synctex.gz
mensa.old